header.container
	.row
		.header-left.col-sm-4
			h1.title  Poché Pictures
			a(href="e-mail: rich@pochepictures.com") e-mail: rich@pochepictures.com
		.header-right.col-sm-8
			.header-card
				.header-card__img
					img(src="./static/images/general/DAD.jpg")
				.header-card__text.text-center
					h3.card__text-italic  Errol Poché
					p 1943-2011
					p My Dad.
					p Who is missed so much.
	nav.nav.nav-pills.nav-fill
		a(href="#").nav-item.nav-link.active Home
		a(href="#").nav-item.nav-link Movies
		a(href="#").nav-item.nav-link Trailers/Behind The Scenes
		a(href="#").nav-item.nav-link Books
		a(href="#").nav-item.nav-link Bio
		a(href="#").nav-item.nav-link Contact
		a(href="#").nav-item.nav-link Links
		




