section.slider-bottom.container
	.index-slider__controls.index-slider__controls-prev
		+icon('arrow')
	.index-slider__controls.index-slider__controls-next
		+icon('arrow')
	.js-index-slider
		.index-slider__item
			img(src="./static/images/general/apicturetodiefor-370x205.jpg" alt="Frame from the movie A Picture to die from").index-slider__img
		.index-slider__item
			img(src="./static/images/general/HELLBENT-371x187.jpg" alt="Frame from the movie Hellbent").index-slider__img
		.index-slider__item
			img(src="./static/images/general/moneyvampiresandweed1-370x189.jpg" alt="Frame from the movie Money, Vampires & Weed").index-slider__img
		.index-slider__item
			img(src="./static/images/general/thechills2-371x180.jpg" alt="Frame from the movie The Chills").index-slider__img
		.index-slider__item
			img(src="./static/images/general/zoediesintheendtitle-366x181.jpg" alt="Frame from the movie Zoe dies in the end").index-slider__img