section.movie-release.container
	.headers 
		a(href="thesandman.html").title.text-uppercase 
			p.sub-title new release
			.
				The Sandman 
	.row
		.col-sm-5.text-center
			img(src="./static/images/general/mylasthalloween-339x422.jpg")
		.col-sm-7
			iframe(width="560" height="315" src="https://www.youtube.com/embed/cZlo4GvxvhY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
			p.movie-desc.text-justify
				span.accent-title "MY LAST HALLOWEEN" 
				.
					centers around Annie, a young woman who believes that she was attacked by Stephen Lloyd, the son of Michael Myers. With the help of her counselor, Dr. Loomis, she retraces the steps of the attack in an effort to heal the psychological wounds of that horrifying night.
