section.slider-top.container
	.index-slider__controls.index-slider__controls-prev
		+icon('arrow')
	.index-slider__controls.index-slider__controls-next
		+icon('arrow')
	.js-index-slider
		.index-slider__item
			img(src="./static/images/general/sandman12.jpg" alt="Frame from the movie The Sandman").index-slider__img
		.index-slider__item
			img(src="./static/images/general/sandman2.jpg" alt="Frame from the movie The Sandman").index-slider__img
		.index-slider__item
			img(src="./static/images/general/sandman3.jpg" alt="Frame from the movie The Sandman").index-slider__img
		.index-slider__item
			img(src="./static/images/general/sandman8.jpg" alt="Frame from the movie The Sandman").index-slider__img