.headers {
	margin-bottom: 55px;
	text-align: center;
	h3 {
		font-size: 18px;
	}
}
.movie-release {
	img {
		max-width: 100%;
	}
}
iframe {
	width: 100%;
}

.movie-desc {
	text-align-last: right;
	font-size: 14px;
	margin-top: 25px;
}