@font-face {
  font-family: "Courgette-Regular";
  src: url("../fonts/Courgette/Courgette-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Courgette/Courgette-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Courgette/Courgette-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Courgette/Courgette-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Courgette/Courgette-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Courgette/Courgette-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Courgette/Courgette-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Prata-Regular";
  src: url("../fonts/Prata/Prata-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Prata/Prata-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Prata/Prata-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Prata/Prata-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Prata/Prata-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Prata/Prata-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Prata/Prata-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}