body {
	background-color: #000;
	font-family: "Prata-Regular";
	color: #fff;
	font-size: 18px;
}

header {
	margin-top: 60px;
}

.header-left {
	text-align: center;
	a {
		color: #fff;
		&:hover {
			color: $redAccent;
		}
	}
}

.header-right {
	background-color: $redCard;
	padding: 8px;
}

.header-card__img {
	img {
		border-radius: 50%;
		@include size(175px);
	}
}

.card__text-italic {
	font-family: "Courgette-Regular";
}